services:
  symfony:
    image: ghcr.io/sunday-research/sunday-research-bot:PLACEHOLDER_IMAGE_TAG
    container_name: "${COMPOSE_PROJECT_NAME:-sunday-research-bot}.symfony"
    working_dir: "/app"
    network_mode: host
    volumes:
      - ".:/app"
    command: [ "/usr/local/sbin/php-fpm", "--nodaemonize" ]
    healthcheck:
      test: [ "CMD-SHELL", "pgrep php-fpm > /dev/null" ]
      interval: 15s
      timeout: 3s
      retries: 3
      start_period: 30s
<<<<<<< HEAD
=======
    network_mode: host
>>>>>>> 3bfc397 (Fix network in production docker compose)
    restart: "on-failure"

  # bot_update_listener:
  #   image: ghcr.io/sunday-research/sunday-research-bot:PLACEHOLDER_IMAGE_TAG
  #   container_name: "${COMPOSE_PROJECT_NAME:-sunday-research-bot}.bot_update_listener"
  #   working_dir: "/app"
<<<<<<< HEAD
  #   network_mode: host
=======
  #   depends_on:
  #     - redis
  #     - postgres
>>>>>>> 3bfc397 (Fix network in production docker compose)
  #   volumes:
  #     - ".:/app"
  #   command: [ "/app/bin/console", "app:bot-update-listener" ]
  #   stop_signal: SIGQUIT
  #   deploy:
  #     resources:
  #       limits:
  #         cpus: '1'
  #         memory: 256M
  #       reservations:
  #         cpus: '0.50'
  #         memory: 128M
<<<<<<< HEAD
=======
  #   network_mode: host
>>>>>>> 3bfc397 (Fix network in production docker compose)
  #   restart: "on-failure"
