name: Deploy to Server

on:
    push:
        branches: [dev, issue-20]
    workflow_dispatch:

permissions:
    contents: read

jobs:
    deploy:
        runs-on: ubuntu-latest
        environment: production

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Deploy via SSH
              uses: appleboy/ssh-action@v1.0.0
              with:
                  host: ${{ secrets.REMOTE_HOST }}
                  username: ${{ secrets.REMOTE_USER }}
                  key: ${{ secrets.SSH_KEY }}
                  script: |
                      cd /var/www/sunday-research-bot
                      git pull origin dev
                      docker-compose -f compose-prod.yaml down
                      docker-compose -f compose-prod.yaml up -d --build
                      docker-compose -f compose-prod.yaml exec symfony composer install --no-dev --optimize-autoloader
                      docker-compose -f compose-prod.yaml exec symfony php bin/console cache:clear --env=prod
                    #   docker-compose -f compose-prod.yaml exec symfony php bin/console doctrine:migrations:migrate --no-interaction --env=prod
