name: PHP Lint & Tests

on: [push, pull_request]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest
    if: false

    services:
      postgres:
        image: postgres:16
        env:
          POSTGRES_DB: test_sunday_research_bot
          POSTGRES_USER: test_sunday_research_bot
          POSTGRES_PASSWORD: '!ChangeMe!'
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    env:
      APP_ENV: test
      POSTGRES_HOST: localhost
      PGPASSWORD: '!ChangeMe!'

    steps:
      - uses: actions/checkout@v3

      - name: Validate composer.json and composer.lock
        run: composer validate --strict

      - name: Cache Composer packages
        id: composer-cache
        uses: actions/cache@v3
        with:
          path: vendor
          key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-php-

      - name: Setup PHP 8.2
        uses: shivammathur/setup-php@v2
        with:
          php-version: "8.2"
          extensions: pdo_pgsql

      - name: Install Composer dependencies
        run: composer install --prefer-dist --no-progress

      - name: Run PHP-CS-Fixer
        run: composer php-cs-fixer-diff

      - name: Run PHPStan
        run: composer phpstan-full-scan

      - name: Wait for PostgreSQL to be ready
        run: |
          until pg_isready -h localhost -p 5432 -U test_sunday_research_bot; do
            echo "Waiting for Postgres..."; sleep 1;
          done

      - name: Run Doctrine migrations
        run: php bin/console doctrine:migrations:migrate --no-interaction --env=test

      - name: Run PHPUnit tests
        run: composer phpunit
